* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    background: linear-gradient(to bottom, #0f0f0f, #491414);
    color: #fff;
}

main{
    max-width: 1200px;
    flex: 1;
    margin: 0 auto;
    padding: 1rem;
}

.container{
    display: grid;
    grid-template-columns: 1;
    padding: 1rem;
    margin-top: 2rem;
}

.underline{
    position: relative;
    display: inline-block;
}
.underline::after{
    content: "";
    position: absolute;
    height: 10px;
    width: 100%;
    left: 0;
    bottom: -7px;
    border-radius: 1px;
    background: linear-gradient(to right, #8a2121, #f61c1c);
}

.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 8px;
    border: 1px solid #d54949;
    background: linear-gradient(to bottom, #0f0f0f, #250c0c);
    box-shadow: 0 2px 4px rgba(232, 110, 110, 0.1);
    margin-bottom: 1rem;
    padding: 1rem;
}

@media(min-width:650px){
    .container{
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
}