* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    background: linear-gradient(to bottom, #f0f1f8, #ffffff);
    color: #333;
}

main{
    max-width: 1200px;
    flex: 1;
    margin: 0 auto;
    padding: 1rem;
}

section{
    display: grid;
    grid-template-columns: 1;
    padding: 1rem;
}

.card {
    border-radius: 8px;
    background: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    padding: 1rem;
}

@media(min-width:650px){
    section{
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
}