/* Gab User Dir */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* mobile first design */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    background: linear-gradient(to bottom, #000000, #491414);
    color: #fff;
}

main{
    max-width: 1200px;
    flex: 1;
    margin: 0 auto;
    padding: 1rem;
}

/* container for team member cards */
.container{
    display: grid;
    grid-template-columns: 1;
    padding: 1rem;
    margin-top: 2rem;
}

.underline{
    position: relative;
    display: inline-block;
}
.underline::after{
    content: "";
    position: absolute;
    height: 10px;
    width: 100%;
    left: 0;
    bottom: -7px;
    border-radius: 1px;
    background: linear-gradient(to right, #8a2121, #f61c1c);
}
.description{
    font-style: normal;
    margin: 1rem;
    font-size: 0.85rem;
    font-family: 'Segeo UI', Verdana, Geneva, Tahoma, sans-serif;
}

/* team members card */
.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 8px;
    border: 1px solid #cf2d2d;
    background: #0000;
    box-shadow: 0 2px 4px rgba(237, 230, 230, 0.2);
    margin-bottom: 1rem;
    padding: 1.5rem;
}
.card:hover{
    transform: translateY(-5px);
}

h2{
    border-bottom: 0.5px solid #d54949;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

h4{
    margin-bottom: 0.5rem;
}

p{
    margin-bottom: 0.5rem;
    font-style: italic;
}

.btn{
    font-size: 1rem;
    color: #fff;
    background: #f61c1c;
    border-radius: 1rem;
    border: #fff;
    height: 2rem;
    width:50%;
    align-self: center;
    cursor: pointer;
}



/* for larger screens switch to  3  rows */
@media(min-width:650px){ 
    .container{
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
    .description{
    font-style: normal;
    margin: 1rem;
    font-size: 1.5rem;
    font-family: 'Segeo UI', Verdana, Geneva, Tahoma, sans-serif;
}
}